<div class="card text-center m-3">
  <div class="card-header bg-primary text-white m-2">
    <h4>Question</h4>
  </div>
  <div class="card-body">
    <h1><%= @question %></h1>
  </div>
  <div class="card-footer text-muted">
    2 secs ago
  </div>
</div>
<div class="card text-center m-3">
  <div class="card-header bg-primary text-white m-2">
    <h4>Answer</h4>
  </div>
  <div class="card-body">
    <h2><%= @answer %></h2>
  </div>
  <div class="card-footer text-muted">
    1 sec ago
  </div>
</div>