  <div class="d-flex align-items-center justify-content-center p-4">
    <h1>Stupid Coaching</h1>
  </div>

  <div class="d-flex align-items-center justify-content-center p-4 bg-primary p-3">
    <form class="align-items-center" action="/answer">
      <p class="text-white">Ask your coach anything:</p>
      <input class="form-control mb-1" type="text" name="question">
      <input class="btn btn-info w-100" type="submit" value="Ask">
    </form>
  </div>